<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491808950966-n527b843gkp0jrrbk82lmi2unrpvf3qf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491808950966-n527b843gkp0jrrbk82lmi2unrpvf3qf</string>
	<key>API_KEY</key>
	<string>AIzaSyCsXtIHbS21s1C5dNe_aztnyEBOQ-67mJg</string>
	<key>GCM_SENDER_ID</key>
	<string>491808950966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cadimayouseeit.workerConstruction</string>
	<key>PROJECT_ID</key>
	<string>construction-worker-87844</string>
	<key>STORAGE_BUCKET</key>
	<string>construction-worker-87844.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491808950966:ios:a23d5681df3c8ca4ac3417</string>
	<key>DATABASE_URL</key>
	<string>https://construction-worker-87844-default-rtdb.firebaseio.com</string>
</dict>
</plist>